In [ ]:
"""
欄位名稱	繁體中文說明
Id	客戶 ID（唯一識別碼）
Home Ownership	房屋持有狀況（Own Home: 自有房產, Rent: 租房, Home Mortgage: 房貸）
Annual Income	年收入（申請人的年度收入）
Years in current job	目前工作的年數（如 10+ years, 5 years, <1 year，需轉換為數值）
Tax Liens	稅務留置權數量（是否因未繳稅款被政府扣押資產）
Number of Open Accounts	開啟的信貸帳戶數量（目前持有的信用卡、貸款數）
Years of Credit History	信用歷史年數（客戶擁有信貸紀錄的總年數）
Maximum Open Credit	最高可用信貸額度（過去曾獲得的最大信貸額度）
Number of Credit Problems	信用問題數量（如遲繳、違約等信用問題的總數）
Months since last delinquent	距離上次違約的月數（若為 0，代表未違約）
Bankruptcies	破產次數（申請人過去申請破產的次數）
Purpose	貸款用途（如 debt con: 債務整合, home im: 房屋裝修, other: 其他）
Term	貸款期限（Short: 短期貸款, Long: 長期貸款）
Current Loan Amount	目前貸款金額（客戶當前貸款的總金額）
Current Credit Balance	當前信用卡/貸款餘額（未償還的信貸餘額）
Monthly Debt	每月負債（申請人每月的貸款或信用卡還款額）
Credit Score	信用評分（數值型變數，影響違約風險）
Credit Default	是否違約（0=未違約，1=違約）（目標變數，分類問題）
"""

In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv("data/train.csv")
df = pd.DataFrame(data)

In [7]:
# 1️⃣ 查看前幾筆數據
df.head()

,Id,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,0,Own Home,482087.0,NaN,0.0,11.0,26.3,685960.0,1.0,NaN,1.0,debt consolidation,Short Term,99999999.0,47386.0,7914.0,749.0,0
1,1,Own Home,1025487.0,10+ years,0.0,15.0,15.3,1181730.0,0.0,NaN,0.0,debt consolidation,Long Term,264968.0,394972.0,18373.0,737.0,1
2,2,Home Mortgage,751412.0,8 years,0.0,11.0,35.0,1182434.0,0.0,NaN,0.0,debt consolidation,Short Term,99999999.0,308389.0,13651.0,742.0,0
3,3,Own Home,805068.0,6 years,0.0,8.0,22.5,147400.0,1.0,NaN,1.0,debt consolidation,Short Term,121396.0,95855.0,11338.0,694.0,0
4,4,Rent,776264.0,8 years,0.0,13.0,13.6,385836.0,1.0,NaN,0.0,debt consolidation,Short Term,125840.0,93309.0,7180.0,719.0,0

In [8]:
# 2️⃣ 查看數據結構（欄位名稱、數據型態、缺失值）
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Id                            7500 non-null   int64
 1   Home Ownership                7500 non-null   object
 2   Annual Income                 5943 non-null   float64
 3   Years in current job          7129 non-null   object
 4   Tax Liens                     7500 non-null   float64
 5   Number of Open Accounts       7500 non-null   float64
 6   Years of Credit History       7500 non-null   float64
 7   Maximum Open Credit           7500 non-null   float64
 8   Number of Credit Problems     7500 non-null   float64
 9   Months since last delinquent  3419 non-null   float64
 10  Bankruptcies                  7486 non-null   float64
 11  Purpose                       7500 non-null   object
 12  Term                          7500 non-null   object
 13  Current Loan Amount           7500 non-null   float64
 14  Current Credit Balance        7500 non-null   float64
 15  Monthly Debt                  7500 non-null   float64
 16  Credit Score                  5943 non-null   float64
 17  Credit Default                7500 non-null   int64
dtypes: float64(12), int64(2), object(4)
memory usage: 1.0+ MB

In [9]:
# 3️⃣ 查看數據統計摘要（只適用於數值型）
df.describe()

,Id,Annual Income,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
count,7500.000000,5.943000e+03,7500.000000,7500.000000,7500.000000,7.500000e+03,7500.000000,3419.000000,7486.000000,7.500000e+03,7.500000e+03,7500.000000,5943.000000,7500.000000
mean,3749.500000,1.366392e+06,0.030133,11.130933,18.317467,9.451537e+05,0.170000,34.692600,0.117152,1.187318e+07,2.898332e+05,18314.454133,1151.087498,0.281733
std,2165.207842,8.453392e+05,0.271604,4.908924,7.041946,1.602622e+07,0.498598,21.688806,0.347192,3.192612e+07,3.178714e+05,11926.764673,1604.451418,0.449874
min,0.000000,1.645970e+05,0.000000,2.000000,4.000000,0.000000e+00,0.000000,0.000000,0.000000,1.124200e+04,0.000000e+00,0.000000,585.000000,0.000000
25%,1874.750000,8.443410e+05,0.000000,8.000000,13.500000,2.792295e+05,0.000000,16.000000,0.000000,1.801690e+05,1.142565e+05,10067.500000,711.000000,0.000000
50%,3749.500000,1.168386e+06,0.000000,10.000000,17.000000,4.781590e+05,0.000000,32.000000,0.000000,3.095730e+05,2.093230e+05,16076.500000,731.000000,0.000000
75%,5624.250000,1.640137e+06,0.000000,14.000000,21.800000,7.935015e+05,0.000000,50.000000,0.000000,5.198820e+05,3.604062e+05,23818.000000,743.000000,1.000000
max,7499.000000,1.014934e+07,7.000000,43.000000,57.700000,1.304726e+09,7.000000,118.000000,4.000000,1.000000e+08,6.506797e+06,136679.000000,7510.000000,1.000000

In [10]:
# 4️⃣ 檢查缺失值
df.isnull().sum()

Id                                 0
Home Ownership                     0
Annual Income                   1557
Years in current job             371
Tax Liens                          0
Number of Open Accounts            0
Years of Credit History            0
Maximum Open Credit                0
Number of Credit Problems          0
Months since last delinquent    4081
Bankruptcies                      14
Purpose                            0
Term                               0
Current Loan Amount                0
Current Credit Balance             0
Monthly Debt                       0
Credit Score                    1557
Credit Default                     0
dtype: int64

In [11]:
# 5️⃣ 確認數值型與類別型欄位
num_cols = df.select_dtypes(include=['number']).columns
cat_cols = df.select_dtypes(include=['object']).columns

print("數值型欄位:", num_cols.tolist())
print("類別型欄位:", cat_cols.tolist())

數值型欄位: ['Id', 'Annual Income', 'Tax Liens', 'Number of Open Accounts', 'Years of Credit History', 'Maximum Open Credit', 'Number of Credit Problems', 'Months since last delinquent', 'Bankruptcies', 'Current Loan Amount', 'Current Credit Balance', 'Monthly Debt', 'Credit Score', 'Credit Default']
類別型欄位: ['Home Ownership', 'Years in current job', 'Purpose', 'Term']

In [ ]:
# 先從缺失值探勘

In [ ]:
# Annual Income 缺失部分

In [4]:
# 缺失 1557 (20.76%) 算是缺失高，且收入是重要的值 !!
# 缺失 1557 (20.76%) Credit Score 相同，所以可能是 系統性缺失（Not Missing At Random, NMAR），因為沒收入是算不出評分的。
# 驗證1:
# 我想要先算出 Annual Income 缺失部分，是否 Credit Score欄位也是缺失
for i in range(7500):
    if bool(df["Annual Income"][i]) !=  bool(df["Credit Score"][i]):
        print("第"+ str(i) + "個的bool不同")
    else:
        pass
print("全部都對應")
# 證明是系統性

全部都對應

In [3]:
# 驗證2：檢查 Annual Income 缺失時，Credit Default 是否為 0
missing_income_default = df[df["Annual Income"].isna()]["Credit Default"]

# 檢查所有缺失 Annual Income 的行是否 Credit Default 皆為 0
if (missing_income_default == 0).all():
    print("全部缺失收入的樣本皆無違約")
else:
    print("發現有違約的樣本數：", (missing_income_default == 1).sum())
# 證明非系統性

發現有違約的樣本數： 529

In [ ]:
# 結論 Annual Income缺失 1557(20.76%) 與 Credit Score 相同，系統性缺失
# 但與 Credit Default 就並非系統性缺失，有529個違約樣本

In [ ]:
# Years in current job 缺失值 為object

In [9]:
# 找出物件種類與數量
print(df["Years in current job"].isnull().sum())
print(df["Years in current job"].unique())
print(df["Years in current job"].nunique())

371
[nan '10+ years' '8 years' '6 years' '7 years' '5 years' '1 year'
 '< 1 year' '4 years' '3 years' '2 years' '9 years']
11

In [ ]:
# 共11種類別，有nan缺失值371 ，從小餘1年以下到10年以上

In [ ]:
# 1. 想知道 nan是否有違約
# 2. 本想用 LabelEncodeer處理，因為是大小問題，但順序可能會有誤，所以不用，還是使用map方式，找出與其他相關性

In [10]:
# 驗證1:
print(df[df["Years in current job"].isnull()]["Credit Default"].value_counts(normalize=True))

Credit Default
0    0.630728
1    0.369272
Name: proportion, dtype: float64

In [ ]:
# 結果: 371個 nan中，未違約 63.0728% 違約 36.9272% 所以非系統性

In [13]:
# 驗證2:
# 先將 Years in current job 數值化
job_mapping = {
    '< 1 year': 0.5,
    '1 year': 1,
    '2 years': 2,
    '3 years': 3,
    '4 years': 4,
    '5 years': 5,
    '6 years': 6,
    '7 years': 7,
    '8 years': 8,
    '9 years': 9,
    '10+ years': 10
}

# 應用數值轉換
df['Years in current job'] = df['Years in current job'].map(job_mapping)
# 先檢查有多少 NaN
print(df['Years in current job'].isnull().sum())

371

In [15]:
# 計算相關矩陣
correlation_matrix = df.corr()

# # 取出與 'Years in current job' 相關的變數，按相關性排序
# job_corr = correlation_matrix["Years in current job"].abs().sort_values(ascending=False)

# # 顯示前 10 個最相關變數
# print(job_corr.head(10))

ValueError: could not convert string to float: 'Own Home'

In [ ]:
# 將所有物件也陸續改成數值型 Home Ownership、Purpose、Term

In [ ]:
# Home Ownership數值化

In [16]:
df['Home Ownership'] = df['Home Ownership'].map({
    'Home Mortgage': 1,
    'Rent': 2,
    'Own Home': 3,
    'Have Mortgage': 4,
})

In [17]:
print(df['Home Ownership'].unique())

[3 1 2 4]

In [ ]:
# Purpose數值化

In [18]:
purpose_mapping = {
    'debt consolidation': 1,
    'other': 2,
    'home improvements': 3,
    'business loan': 4,
    'buy a car': 5,
    'medical bills': 6,
    'major purchase': 7,
    'take a trip': 8,
    'buy house': 9,
    'small business': 10,
    'wedding': 11,
    'moving': 12,
    'educational expenses': 13,
    'vacation': 14,
    'renewable energy': 15
}

df['Purpose'] = df['Purpose'].map(purpose_mapping)

In [19]:
print(df['Purpose'].unique())

[ 1  2  3  8  5 10  4 11 13  9  6 12  7 14 15]

In [ ]:
# Term （貸款期限）數值化

In [20]:
term_mapping = {
    'Short Term': 0,
    'Long Term': 1
}

df['Term'] = df['Term'].map(term_mapping)

In [21]:
print(df['Term'].unique())

[0 1]

In [ ]:
# 回到前面的 Years in current job 收尋相關性

In [22]:
# 計算相關矩陣
correlation_matrix = df.corr()

# 取出與 'Years in current job' 相關的變數，按相關性排序
job_corr = correlation_matrix["Years in current job"].abs().sort_values(ascending=False)

# 顯示前 10 個最相關變數
print(job_corr.head(10))

Years in current job         1.000000
Years of Credit History      0.234413
Home Ownership               0.174522
Monthly Debt                 0.125475
Current Credit Balance       0.110758
Annual Income                0.104059
Term                         0.071760
Bankruptcies                 0.057838
Number of Open Accounts      0.054438
Number of Credit Problems    0.049955
Name: Years in current job, dtype: float64

In [24]:
# 發現與 Years of Credit History相關係數最高分
# 再將 Years of Credit History 分為 違約、未違約
# 接著 各取其中的 Years in current job 中位數補上

In [25]:
# 先找出違約與未違約群體中 "Years of Credit History" 出現最多的值
most_common_credit_history_default = df[df["Credit Default"] == 1]["Years of Credit History"].mode()[0]
most_common_credit_history_no_default = df[df["Credit Default"] == 0]["Years of Credit History"].mode()[0]

# 找出對應的 "Years in current job" 的中位數
median_job_default = df[(df["Credit Default"] == 1) & 
                        (df["Years of Credit History"] == most_common_credit_history_default)]["Years in current job"].median()

median_job_no_default = df[(df["Credit Default"] == 0) & 
                           (df["Years of Credit History"] == most_common_credit_history_no_default)]["Years in current job"].median()

# 依據 Credit Default 狀態補值
df.loc[(df["Credit Default"] == 1) & (df["Years in current job"].isnull()), "Years in current job"] = median_job_default
df.loc[(df["Credit Default"] == 0) & (df["Years in current job"].isnull()), "Years in current job"] = median_job_no_default

In [26]:
print(df["Years in current job"].isnull().sum())

0

In [ ]:
# 處理 Months since last delinquent 缺失值 4081個

In [29]:
print(df["Months since last delinquent"].unique())
print(df["Months since last delinquent"].nunique())

[ nan  73.  18.   6.  40.  44.  45.  17.  61.  14.  11.  32.  75.  65.
  10.  28.  35.  29.  13.   8.  71.  54.  21.  68.  51.  70.  19.  22.
  16.  38.  36.   0.  34.  30.   3.  52.  72.  63.  23.   5.  60.  59.
   1.  74.   4.  42.  39.  41.  55.  67.  37.  47.  26.  76.  43.  12.
   7.  77.  48.  79.  80.  31.  64.  78.  20.  58.  49.   9.  69.  25.
  33.  15.  57.  86.  62.   2.  24.  56.  82.  66.  46.  27.  50.  53.
  81.  83. 118.  84.  91.  92.]
89

In [ ]:
# 1.想知道 nan是否為無違約的人

In [11]:
print(df["Credit Default"].value_counts(normalize=True))

Credit Default
0    0.718267
1    0.281733
Name: proportion, dtype: float64

In [12]:
print(df[df["Years in current job"].isnull()]["Annual Income"].value_counts(normalize=True))

Annual Income
500574.0     0.006757
482087.0     0.003378
1436970.0    0.003378
759012.0     0.003378
501106.0     0.003378
               ...
1047945.0    0.003378
1283279.0    0.003378
1240320.0    0.003378
227867.0     0.003378
671270.0     0.003378
Name: proportion, Length: 295, dtype: float64